/* 
icon font sizes are 2 rem;

*/


html {
    height: 100%;
}

body {
    font-family: 'Red Hat Text', sans-serif;
    color: white;
    
}

i {
    color: white;
}

.morning-background {
    background-color: rgb(238,174,202);
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.afternoon-background {
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.evening-background {
    background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.night-background {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

h1 {
    font-size: 550%;
}

h3 {
    font-size: 350%;
}

input {
    white-space: nowrap;
}


/* Positioning the sections */

.time {
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.to-do {
    text-align: center;
    padding-left: 0;
}


/* settings section */

.settings-section {
    color: black;
}

.settings-button {
    margin: 0.5%;
}

.settings-button i {
    font-size: 2rem;
}

/* greeting container*/ 

.greeting-container {
    text-align: center;
    padding: 3.5% 0;
}

/* ---------------------- time section ---------------------- */
.time-section i {
    font-size: 2rem;
}

.time-section i:hover {
    color: #DDE4EF;
}

.stopwatch {
    border: 1px solid white;
    border-radius: 15px;
    padding: 2%;
    width: 350px;
    text-align: center;
    background-color: rgb(255, 255, 255, 20%);
}

.date-And-Time {
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 2%;
    width: 350px;
    background-color: rgb(255, 255, 255, 20%);
    overflow: hidden;
}

.date-And-Time h3 {
    position: relative;
}

/* ---------------------- to-do list section ---------------------- */

.to-do {
    color: white;
}

/* createUniTask section */

.add-task-section {
    width: 380px;
}

.create-uni-task {
    border: 1px solid white;
    border-radius: 15px;
    padding: 2%;
    max-width: 400px;
    margin: 10px 0;
    background-color: rgb(255, 255, 255, 20%);
}

.uni-task-checkbox {
    text-align: left;
    padding-left: 15%;
}

.text-input-label , .boolean-checkbox-label {
    white-space: nowrap;
}

.display-uni-form {
    display: block;
}

.hide-uni-form {
    display: none;
}

/* createLifeTask section*/

.create-life-task {
    border: 1px solid white;
    border-radius: 15px;
    padding: 2%;
    margin: 10px 0;
    max-width: 400px;
    background-color: rgb(255, 255, 255, 20%);
}

.add-task-section form:first-child {
    margin-top: 0;
}

.display-life-form {
    display: block;
}

.hide-life-form {
    display: none;
}


/* tasks section */

.tasks-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

.task-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    border: 1px solid white;
    border-radius: 15px;
    width: 400px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 20%);
}

.task-box:first-child {
    margin-top: 0;
    margin-bottom: 12.5px;;
}

.task-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-check-container {
    display: flex;
    align-items: center;
}

.task-info {
    text-align: left;
    max-width: 300px;
    overflow: hidden;
}

.task-info h5, .task-info p {
    margin: 0;
}

.task-box i {
    font-size: 2rem;
}

.task-box i:hover {
    color: #DDE4EF;
    cursor: pointer;
}

.done h5, .done p{
    text-decoration: line-through;
}

.fa-check-circle {
    margin: 0 15px;;
}

.fa-times-circle {
    margin-right: 15px;
}


/* Task Tags*/

.tag {
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
}

.tag:first-of-type {
    margin-left: 0;
}

.graded-tag {
    background-color: #EA2027;
    color: white;
    width: 50px;
    height: 16px;
}

.on-repeat-tag {
    background-color: #009432;
    color: white;
    width: 70px;
    height: 16px;
}

.graded-tag p , .on-repeat-tag p {
    font-size: 75%;
    text-decoration: none;
}

/* ---------------------- JobAppl Section ---------------------- */

.nav-buttons {
    position: absolute;
    top: 0;
    right: 5px;
    display: flex;
}

.right-button {
    font-size: 2rem;
    margin: 0.5%;
}

.custom-row-container {
    position: relative;
}

.custom-row {
    height: 35px;
    transition: width 1s;
    width: 100%;
}

.display-shrink-row {
    width: 97%;
}

.rectangle {
    display: inline-block;
    width: 14.28571429%;
    height: 35px;
    text-align: center;
    border: 1px solid white;
}

.col-label {
    height: 35px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

.col-label p {
    margin: 0;
}

textarea {
    resize: none;
    outline: none;
    width: 100%;
    height: 35px;
    border: 0px;
    background-color: rgb(255, 255, 255, 50%);
}

.buttons-row {
    text-align: center;
}

.job-app-button {
    font-size: 2rem;
}

.delete-button {
    position: absolute;
    visibility: hidden;
    transition: visibility 1s, opacity 0.5s;
    top: 0;
    right: 0;
    opacity: 0%;
}

.delete-button i {
    font-size: 1.5rem;
}

.display-delete-button {
    visibility: visible;
    opacity: 100%;
  }

  .times-circle-icon {
      margin-right: 0;
  }

